<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>水表营收系统首页</title>
<link rel="stylesheet" href="/css/layui.css"/>
<link rel="stylesheet" href="/css/common.css"/>
<link rel="shortcut  icon" type="../image/x-icon" href="/images/etsIco.ico" media="screen" />
<style type="text/css">
	/* .layui-layer-content{
		padding: 0px 10px;
	} */
* {
	padding: 0;
	margin: 0;
}
.logo_img{
	position: relative;
	height: 30px;
	width: 30px;
	top: 13px;
	left: 12px;
	border-radius: 50%;

}
.logo_img img{
	position: absolute;
	height:100%;
	width: 100%;
	top: 0;
	left: 8px;

}

#addEmployeeForm input {

	margin-top: 25px;
	width: 350px;
}
.nav-bar{
	background: #FFFFFF;
	position: fixed;
	top: 50px;
	width: 100%;
	
}
.nav-bar span{
	display: inline-block;
	padding: 12.5px 0;
	color: #666;
    font-style: normal;
    font-size: 15px;
}
/*侧边导航栏  图标*/
.layui-side .layui-icon,.layui-layout-left .layui-icon{
	font-size: 16px;
    margin-left: -6px;
    width: 20px;
    display: inline-block;
}
.layui-nav-tree .layui-nav-item a {
	transition: none;
}

/*主题颜色覆盖*/
#layui-header .layui-nav-item>a{
	color: #fff;
}
#layui-header .layui-nav .layui-nav-more{
	border-top-color: #ccc;
}
#layui-header .layui-nav .layui-nav-item a:hover{
	color: #53afff;
}
#layui-header #upd:hover{
	background: #fff;
}
#layui-header .layui-nav-item:hover span{margin-top:-9px; border-style: dashed; border-color: transparent; border-bottom-style: solid;border-bottom-color: #CCCCCC; }
#layui-header .layui-nav-mored{
	margin-top: -3px;
	border-top-color: #FFFFFF;
}
.layui-nav-itemed .layui-nav-child dd:hover{
	background: #FFFFFF;
}
.layui-nav .layui-nav-item {
	line-height: 50px;
/* 	text-align: center; */
	/*border-bottom: 1px solid #F2F2F2;*/
}
#fold-btn{
	display: inline-block;
	cursor: pointer;
 
}
.layui-layout-admin .layui-body{
	top: 5px;
}
#layui-header .layui-nav-child{
	top: 50px;
}
.layui-nav .layui-this:after{
	width: 0 !important;
}

.layui-nav .layui-nav-item a{
	color: #36404a;
}
.layui-nav-tree .layui-this a{
	color:#fff !important;
}
.marginL-15{
	padding-left: 35px !important;
}
.marginL-25{
	padding-left: 45px !important;
}


.layui-side{overflow-x: unset;}
.layui-layout-admin .layui-side{overflow-x: unset; }
.layui-side-scroll{overflow-x: unset;}
</style>
</head>
<body class="layui-layout-body" id="outbody">
	<!--test  修改密码html-->
	
	<div class="layui-row" id="test" style="display: none;">

		<form class="layui-form" id="addEmployeeForm" lay-filter="updPwd">
			<div class="layui-form-item">
				<label class="layui-form-label">原密码：</label>
				<div class="layui-input-block">
					<input type="text" id="oldPwd" name="oldPwd" lay-verify="required|pass"
						placeholder="请输入原密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码：</label>
				<div class="layui-input-block">
					<input type="text" id="userPwd"  name="userPwd" lay-verify="required|pass"
						placeholder="请输入新密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">确认密码：</label>
				<div class="layui-input-block">
					<input type="text"  id="newPwd" name="newPwd" lay-verify="required|pass"
						placeholder="请确认新密码" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="button" class="layui-btn" lay-submit=""
						lay-filter="updBut_" style="width: 20%;" id="updBut">保存</button>
					<button type="button" class="layui-btn layui-btn-primary" style="width: 20%;" id="cancelBtn">取消</button>
				</div>
			</div>
		</form>

	</div>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header" id="layui-header" style="">
			
			<div class="layui-logo" style="color:#fff;top: -5px;left: 20px;width: auto;">
				<img src="images/logo/logo_inti.png" alt="" width="20" style="padding-right:5px; vertical-align: middle; padding-bottom: 2px;">
				<span style="cursor: pointer;" onclick="wind ow.location.reload();">水表营收系统</span>
			</div>
			 <!-- 头部区域（可配合layui已有的水平导航） -->
		    <ul class="layui-nav layui-layout-left" style="left: 180px;">
		      <li class="layui-nav-item" id="fold"><a href="javascript:void(0);" title="菜单缩进"><i id="fold-btn" class="layui-icon layui-icon-shrink-right"></i></a></li>
		      <li class="layui-nav-item"><a href="" title="主页"><i class="layui-icon layui-icon-home"></i></a></li>
		      <li class="layui-nav-item"><a href="javascript:void(0);" id="rePage" title="刷新"><i class="layui-icon layui-icon-refresh-1"></i></a></li>		  
		    </ul>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="javascript:;"> <img src="images/logo/headerLogos.png"
						class="layui-nav-img" />margin</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:void(0);" id="upd">修改密码</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="javascript:void(0);"
					id="login_out">退出登录</a></li>
			</ul>
		</div>
		<div class="layui-side layui-bg-bai" ><!---->
			<!-- <div class="layui-logo" style="color:#ffffff;top: -5px;left: 14px;width: auto;cursor: pointer;" onclick="window.location.reload();">
				<img src="images/logo/logo_inti.png" alt="" width="18" style="padding-right:5px; vertical-align: middle; padding-bottom: 2px;">
				<span id="sysname">NB水表管理系统</span>
			</div> -->
			<div class="layui-side-scroll">
			
				
				<ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="test" id="navList" style="background: transparent;">
		
				  
				   <!-----------用户管理----------->
				   <li class="layui-nav-item">
					 <a href="javascript:void(0);"><i class="layui-icon layui-icon-username nav-icon"></i>用户管理</a>
						<dl class="layui-nav-child">
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='toUserMgt' page_name="用户管理 / 用户管理">用户管理</a> </dd>
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/user-mgt/abnor-user/abnor-user.html' page_name="用户管理 / 异常用户">异常用户</a> </dd>
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/user-mgt/pin-record/pin-record.html' page_name="用户管理 / 销户记录">销户记录</a> </dd>
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/user-mgt/transfer-record/transfer-record.html' page_name="用户管理 / 过户记录">过户记录</a> </dd>
						</dl>
				   </li>
				   <!-----------水费业务----------->
				   <li class="layui-nav-item">
					<a href="javascript:void(0);"><i class="layui-icon layui-icon-component nav-icon"></i>水费业务</a>
						<dl class="layui-nav-child">
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/water-work/user-pay/user-pay.html' page_name="水费业务 / 用户缴费">用户缴费</a> </dd>
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/water-work/bill-mgt/bill-mgt.html' page_name="水费业务 / 账单订单管理">账单订单管理</a> </dd>
						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/water-work/trading-log/trading-log.html' page_name="水费业务 / 交易流水">交易流水</a> </dd>
						</dl>
				   </li>
				   <!-----------水费管理----------->
				   <li class="layui-nav-item">
				   					<a href="javascript:void(0);"><i class="layui-icon layui-icon-senior nav-icon"></i>水费管理</a>
				   						<dl class="layui-nav-child">
				   						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/waterFee-mgt/waterFee-type/waterFee-type.html' page_name="水费管理 / 水费类型">水费类型</a> </dd>
				   						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/waterFee-mgt/waterPrice-set/waterPrice-set.html' page_name="水费管理 / 水价设置">水价设置</a> </dd>
				   						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/waterFee-mgt/waterBill-set/waterBill-set.html' page_name="水费管理 / 水费出账设置">水费出账设置</a> </dd>
				   						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/waterFee-mgt/wyj-set/wyj-set.html' page_name="水费管理 / 违约金设置">违约金设置</a> </dd>
				   						  <dd><a class="marginL-15" href="javascript:void(0);" menu_url='html/waterFee-mgt/notice-set/notice-set.html' page_name="水费管理 / 通知方案设置">通知方案设置</a> </dd>
				   						</dl>
				   </li>
				   <!----------系统管理---------->
				   <li class="layui-nav-item">
				     <a href="javascript:void(0);"><i class="layui-icon iconfont layui-icon-website"></i>系统设置</a>
				     <dl class="layui-nav-child">
				       <dd>
				       	<a class="marginL-15" href="javascript:void(0);" menu_url='html/system-set/role-mgt/role-mgt.html' page_name="系统设置 / 角色管理">角色管理</a>
				       </dd>
				       <dd>
				       	<a class="marginL-15" href="javascript:void(0);" menu_url='html/system-set/worker-mgt/worker-mgt.html' page_name="系统设置 / 员工管理">员工管理</a>
				       </dd>
				       <dd>
				       	<a class="marginL-15" href="javascript:void(0);" page_name="系统设置 / 票据管理">票据管理</a>
				       	<dl class="layui-nav-child">
				       		<dd><a class="marginL-25" href="javascript:void(0);" menu_url='html/system-set/notes-mgt/notes-template/notes-template.html' page_name="系统设置 / 票据管理/ 票据模板" >票据模板</a></dd>
				       	</dl>
				       </dd>
				       <dd>
				       	<a class="marginL-15" href="javascript:void(0);" page_name="系统设置 / 短信平台">短信平台</a>
				         <dl class="layui-nav-child">
				       		<dd><a class="marginL-25" href="javascript:void(0);" menu_url='html/system-set/sms-platform/recharge-record/recharge-record.html' page_name="系统设置 / 短信平台/ 充值记录" >充值记录</a></dd>
				       		<dd><a class="marginL-25" href="javascript:void(0);" menu_url='html/system-set/sms-platform/sms-template/sms-template.html' page_name="系统设置 / 短信平台/ 短信模板" >短信模板</a></dd>
				       		<dd><a class="marginL-25" href="javascript:void(0);" menu_url='html/system-set/sms-platform/send-record/send-record.html' page_name="系统设置 / 短信平台/ 发送记录" >发送记录</a></dd>
				       	</dl>
				       </dd>	 
				        <dd>
				        	<a class="marginL-15" href="javascript:void(0);" menu_url='html/system-set/opt-log/opt-log.html' page_name="系统设置 / 操作日志">操作日志</a>
				        </dd>
				        <dd>
				        	<a class="marginL-15" href="javascript:void(0);" menu_url='html/system-set/data-dict/data-dict.html' page_name="系统设置 / 数据字典">数据字典</a>
				        </dd>
				        <dd>    
				     </dl>
				   </li>	
			    </ul>
			</div>
		</div>
		<div class="layui-body" style="height: 100%;background:#F2F2F2;top: 49px;" id="layui-body">
			<!-- 内容主体区域 -->
			<div  style="padding:10px 10px 0 10px;" id="iframeBox">
				<iframe style="" src="toMain" id="iframe" frameborder="0" width="100%" scrolling="no" height="100%"> </iframe>
			</div>
		</div>
	</div>
	
</body>

<script src="/layui.all.js"></script>
<script type="text/javascript" src="/js/common.js" ></script>
<script>
//主动加载jquery模块
layui.use(['jquery', 'layer'], function(){
	var $ = layui.jquery //重点处
	,layer = layui.layer
	,element = layui.element;
	var form = layui.form;
	//iframe窗
	
	//初体验
	

	
	//折叠右侧菜单
	var flag = 1;//是否折叠菜单标识，默认1打开、0折叠
	$("#fold").click(function(){
		if(flag==1){//折叠菜单
			$("#fold-btn").removeClass("layui-icon layui-icon-shrink-right").addClass("layui-icon layui-icon-spread-left");
			flag = 0;
			$("#sysname").text('');
			$(".layui-layout-left").css("left",'30px');
			$(".layui-body").animate({left:'50px'},"fast");
			$(".layui-nav-tree a").css('font-size',0);		
			$(".layui-nav-tree").animate({width:'50px'},"fast");			
			$(".layui-layout-admin .layui-side").animate({width:'50px'},"fast");
			$(".layui-nav-tree .layui-nav-more").hide();
			$(".layui-nav-tree .layui-nav-item").find('dd').hide();
			/*给折叠的菜单，加上hover效果*/
			var tipindex;//tip下标
			var tiptext;//tip内容
			$(".layui-nav-tree .layui-nav-item").hover(function (){
				if(flag==1){//判断菜单折叠状态，只有折叠时，才有hover效果
					return;
				}
			   	tiptext = $(this).children().eq(0).text();
		        tipindex= layer.tips(tiptext,$(this), {
		            tips: 2,//右边出现
		            time:0//tip 消失时间
		        });
		    },function (){//关闭tip的回调函数  
		        layer.close(tipindex);
		    }); 
		}else{//打开菜单
			$("#sysname").text('NB水表管理系统');
			$(".layui-layout-left").css("left",'180px')
			$("#fold-btn").removeClass("layui-icon layui-icon-spread-left").addClass("layui-icon layui-icon-shrink-right");
			flag = 1;
			$(".layui-body").animate({left:'200px'},"fast");
			$(".layui-nav-tree a").css('font-size','14px');
			$(".layui-nav-tree").animate({width:'200px'},"fast");
			$(".layui-layout-admin .layui-side").animate({width:'200px'},"fast");
			$(".layui-nav-tree .layui-nav-more").show();
			$(".layui-nav-tree .layui-nav-item").find('dd').show();	
			
		}
		
	})
	/*当侧边菜单折叠时，点击某个子菜单，此时也打开菜单*/
	$(".layui-nav-tree .layui-nav-item").click(function(){
		if(flag==0){
			$(".layui-nav-tree .layui-nav-item").find('dd').show();
			$(".layui-nav-tree .layui-nav-more").show();
			$('#fold-btn').removeClass("layui-icon layui-icon-spread-left").addClass("layui-icon layui-icon-shrink-right");
			flag = 1;
			$(".layui-body").animate({left:'200px'},"fast");
			$(".layui-nav-tree a").css('font-size','14px');
			$(".layui-nav-tree").animate({width:'200px'},"fast");
			$(".layui-layout-admin .layui-side").animate({width:'200px'},"fast");
		}
	})
	
    //退出登录
    $('#login_out').click(function(){
        layer.confirm('退出登录?', function(index){
            location.href = 'login.html';
            layer.close(index);
        });
    });
    //设置iframe的高度
    var hh = $("#layui-body").height();
    $('#iframeBox').height( hh-58);
    //点击左侧   子菜单，页面跳转，
    var topage = function(url){
        $("#iframe").attr('src', url);
    }
	//获取到在菜单路径，切换iframe页面，设置-当前位置 pageName
	var pageName = '';
    $(".layui-nav-tree li a").click(function(){
    	if($(this).get(0).hasAttribute("menu_url")){
    		topage($(this).get(0).getAttribute("menu_url"));
    	} 
    	if($(this).get(0).hasAttribute("page_name")){0.
    		pageName = $(this).get(0).getAttribute("page_name");//获取点击菜单的名称
    		$(".nav-bar span").text("当前位置："+pageName);//赋值
    	}
    })
	//修改密码
	layui.use('form', function(){
			
		form.on('submit(updBut_)', function(data){
			console.log(data.field);
		    $.ajax({
                url: "",
                type: "POST",
                data:{},
                dataType: "json",
                success: function(data){
                  	
                },
                error:function(){
                	com.msg('系统异常！', 5);
                }
	        });
		});
	});
	var  indexIn='';
	$("#upd").click(function() {
		indexIn = layer.open({
	        type:1,
	        title:"修改密码",
	        skin:"myclass",
	        area:['500px', '300px'],
	        content:$("#test").html()
	    });
	
	});
	$("body").on('click','#cancelBtn',function(){
		layer.close(indexIn);
	  	console.log("点击了取消 ");
	});
	
	
	/*刷新，即 当前iframe里面的页面刷新*/
	var pageUrl = "/toMain";
	$("#rePage").click(function(){
		if($("#navList .layui-nav-itemed").length>0){
			pageUrl = $("#navList .layui-this a").attr("menu_url");//获取选中菜单的url,给刷新使用
		}
		$('#iframe').attr('src', pageUrl);
	})
	


	
}) 
 
   

</script>
</html>